:root {
    --mainColor: #e95b3b;
}
* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    margin: 5px auto 0 auto;
}
.header-logo img {
    object-fit: cover;
    width: 120px;
}

#search {
    width: 500px;
}
#search input {
    padding: 5px 15px;
    border-radius: 20px 0 0 20px;
}
#search button {
    background-color: var(--mainColor);
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 5px 15px;
}
.btn {
    padding: 5 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(223, 222, 222);
}
.btn:hover {
    opacity: 0.8;
}

nav ul {
    list-style: none;
}

#guest {
    background-color: var(--mainColor);
    padding: 10px;
    font-size: 20px;
    color: white;
}

#priority {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content-service {
    width: 200px;
}

#priority h3 {
    font-size: 14px;
}
#Privacy {
    font-weight: bold;
}

#Privacy::before {
    content: ".";
    font-size: 35px;
    font-weight: bold;
    margin: 0 10px;
}

footer ul {
    list-style: none;
}
footer ul li a {
    text-decoration: none;
    color: black;
}
#Privacy {
    font-weight: bold;
}
.footer-logo img {
    object-fit: cover;
    width: 150px;
    height: 40px;
}

.modal-content {
    border-radius: 40px;
    padding: 15px;
    margin: 15px;
}
.modal-title {
    text-align: center;
    font-weight: bold;
}
.modal-header {
    display: block;
}
.modal-header button {
    float: right;
}

.modal-body label {
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-body input {
    display: block;
    width: 100%;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(227, 226, 226);
}

.wrapper-password {
    position: relative;
}
.wrapper-password i {
    position: absolute;
    top: 45px;
    right: 15px;
    color: rgb(182, 181, 181);
}
.signOR {
    position: relative;
}
.signOR button {
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(223, 222, 222);
    position: absolute;
    top: -15px;
    left: 180px;
    background-color: white;
    z-index: 2;
}

.login-with {
    text-align: center;
}
.login-with button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
}
.login-with button i {
    margin-right: 3px;
}
.modal-body a {
    text-decoration: none;
}

.wishList {
    background-color: #f7f7f7;
}
.select-all-wishList::after {
    content: "";
    border-right: 2px solid gray;
    right: 60px;
    margin: 20px;
}

.wishList .delete {
    color: red;
    text-decoration: underline;
}
.wishList-item {
    width: 250px;
    margin: 10px 20px;
    position: relative;
}
.wishList-item .heart {
    position: absolute;
    background-color: transparent;
    top: 3px;
    right: 10px;
}
.image-wishlist img {
    width: 250px;
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(224, 219, 219);
}
.title-wishlist {
    text-align: center;
    margin-top: 10px;
}

.content-wishlist {
    padding: 5px;
    margin: 4px 15px;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 auto;
}
.products-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
}
.product {
    position: relative;
}
.product-image i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: red;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
.product-image {
    text-align: center;
}
.product-image img {
    width: 250px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
}
.product-title {
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}
.product-title p {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
}
.product-body {
    padding: 5px 10px;
    margin: 5px 15px;
}
.product-body .star {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.product-body span {
    color: #a09e9e;
    margin-right: 20px;
}

.category-btn {
    border-radius: 50px;
    padding: 8px 25px;
    background-color: white;
    border: none;
    margin: 5px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000;
}

.category-btn:hover,
.category-btn.active,
.btn.active {
    background-color: #000;
    color: rgb(255, 255, 255);
}
.category-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.category-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-name {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

.grid-5 > div {
    width: 20%;
    padding: 5px;
}
.card {
    background-color: transparent;
    border: none;
    text-align: center;
}

.card img {
    text-align: center;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title span {
    font-size: 35px;
    font-weight: bold;
}
.card-text {
    text-decoration: line-through;
    color: red;
}

.header-swiper {
    background-color: transparent;
}
.header-swiper img {
    z-index: -1;
    position: absolute;
    /* transform: rotate(-87deg); */
    transform: scaleX(-1);
    top: 35px;
}
.header-swiper h3 {
    margin: 0 20px;
}

.profile-setting {
    padding: 0 48px;
}

.btn-settings {
    margin: 20px;
}
.btn-settings button {
    display: block;
    margin: 20px 40px;
    padding: 10px 20px;
    width: 300px;
    text-align: start;
    background-color: transparent;
    border: none;
}
.btn-settings button.active {
    border: 1px solid blue;
    border-radius: 30px;
}

.delete-account {
    color: red;
}

.delete-account i {
    font-weight: 800;
    font-size: 20px;
}

.upload-image {
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}
.image-user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-profile input {
    padding: 10px;
}

.edit-profile .wrapper {
    position: relative;
}
.edit-profile i {
    position: absolute;
    right: 25px;
    top: 55px;
}

.submit-form button {
    display: block;
    width: 60%;
    margin: 0 auto;
    background-color: var(--mainColor);
    color: white;
}
#edit-password i {
    color: #c1c0c0;
}

.pagination {
    width: 300px;
    display: block;
    margin: 30px auto 20px auto;
}

.pagination ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    list-style: none;
}

.pagination ul li .page-link {
    display: inline;
    width: 100px !important;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.2s ease;
    border: none;
}
.page-item.active .page-link,
.pagination ul li a.active,
.pagination ul li .page-link:hover {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.images-product {
    display: flex;
}
.image-gallery img {
    height: 100px;
    display: block;
    border-radius: 10px;
    margin: 10px 10px;
    object-fit: cover;
}
.main-image img {
    display: block;
    border-radius: 10px;
    margin: 10px 10px;
    object-fit: cover;
    width: 450px;
    box-shadow: 3px 1px 10px 1px #bfb9b9;
}

.description {
    font-size: 19px;
    font-weight: 400;
}
.trend {
    padding: 5px 10px;
    margin-right: 10px;
    color: white;
    border: none;
    background-color: var(--mainColor);
    border-radius: 5px 0 5px 5px;
    font-weight: 400;
}
.color-wrapper {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Size-type {
    font-size: 18px;
    color: #666666;
}
.Size-type p.active {
    font-weight: bold;
    border-bottom: 3px solid black;
    color: black;
}

table tr td {
    width: 20px;
}

table tr:first-child,
table tr td:first-child {
    font-weight: 500;
    font-size: 18px;
}

.table li {
    color: #666666;
}

h4.reviews::after {
    content: "";
    height: 2px;
    width: 130px;
    background-color: black;
    position: absolute;
    bottom: -16px;
    left: 0px;
}

.breadcrumb {
    margin: 0px;
}

.breadcrumb ul {
    display: flex;
    list-style: none;
    justify-content: start;
    column-gap: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.breadcrumb ul li.active {
    font-weight: bold;
    color: #000;
}

.breadcrumb ul li {
    color: #aaa;
}
.breadcrumb ul li::after {
    content: " > ";
    margin-left: 10px;
    color: gray;
    font-weight: normal;
}

.breadcrumb ul li:last-child::after {
    content: "";
}

.select-all-cart::after {
    content: "";
    border-right: 2px solid gray;
    right: 60px;
    margin: 20px;
}

.cart .delete {
    color: red;
    text-decoration: underline;
}

.delete:hover {
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    background-color: #f1f1f1;
    padding: 10px;
}

.check-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-item input {
    width: 20px;
    height: 20px;
}

.image-item img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(224, 219, 219);
}

.summery p {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 18px;
}

.summery div:first-child p:first-child {
    color: rgb(123, 125, 123);
}

.discount {
    color: red;
}

.account {
    position: relative;
}
.account div {
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0px 0px 5px 1px gray;
    text-align: center;
    top: 50px;
    left: -30px;
}

.account div ul {
    padding: 15px 60px;
}
.account ul li {
    padding: 10px auto;
    text-align: center;
    margin-bottom: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.shipping {
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
}
